@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:ital,wght@1,700&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:ital,wght@1,700&family=Lato:wght@700&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root{

    --color-one: #e0e0e0;
    --color-two: #bfd7ea;
    --color-three: #b9bbc2;
    --border: #505050;
    --background-subtitle: linear-gradient(127.44deg, #505050 0%, #383838 100%);
}

body {
	background: linear-gradient(108.76deg, #343131 -1.39%, #1D1919 102.08%);
	font-family: 'Catamaran', sans-serif;
}

body, html {
	height: 100vh;
}

.content {
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-template-rows: 98px 1fr;
	height: 100%;
}

/*--LEFT SIDEBAR--*/

.content-sidebar {
	border-right: 1px solid var(--border);
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*--NAVBAR--*/

 
.navbar {
  display: none;
  width: 110%;
  height:100%;
  background: linear-gradient(127.44deg, #505050  0%, #383838 100%); 
}


.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--color-one);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    color: var(--color-two);
}

.nav-container {
  display: block;
  position: relative;
  height: 98px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line1 {
  display: block;
  height: 1.5px;
  width: 110%;
  border-radius: 10px;
  background: var(--color-one);
}

.hamburger-lines .line2 {
  display: block;
  height: 1.5px;
  width: 80%;
  border-radius: 10px;
  background: var(--color-one);
}

.hamburger-lines .line3 {
  display: block;
  height: 1.5px;
  width: 60%;
  border-radius: 10px;
  background: var(--color-one);
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 28vh;
  box-shadow: inset 0 0 2000px rgb(80, 80, 80);
  height: 100vh;
  width: 250%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  height: 15vh;
}


.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  width: 110%;
}

/*--MESSANGER--*/


.content-sidebar__list {
	margin-bottom: 35px;
}

.content-sidebar__item {
	margin-top: 35px;
}


.content-sidebar__link {
	display: block;
	transform: rotate(270deg);
	text-align: center;
	width: 3em;
	height: 3em;
	margin: 0 auto;
	padding-top: 12px;
	color: var(--color-one);
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
}

.content-sidebar__link:hover {
	color: var(--color-two);
	transition: .5s;
}

/*--HEADER--*/

.header {
	position: absolute;
	z-index: 10;
	width: 100vw;
	height: 98px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 6vw;
}
.header-logo {
	display: flex;
	background: var(--background-subtitle);
	width: 110px;
	height: 100%;
	align-items: center;
    justify-content: center;
}

.header-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-button {
	color: var(--color-one);
	text-decoration: none;
	font-size: 15px;
	font-family: 'Catamaran', sans-serif;
	position: relative;
}

.header-button:hover {
	color: var(--color-two);
	transition: .5s;
}

.header-button::after {
	content: "";
	width: 100%;
	height: 1.5px;
	background-color:var(--color-two);
	display: block;
	position: absolute;
	bottom: -10px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s ease-in-out 0s;
}


.active {
	font-weight: 500;
	color: var(--color-two);
}

.active::after,
.header-button:hover::after {
	visibility: visible;
	transform: scaleX(1);
}

.header-item {
	margin-left: 7vw;
}

.header-item:first-child {
	margin-left: 0;
}

/*--SWIPER--*/

.content-main {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.swiper {
	width: calc(100vw - 110px);
	height: 100vh;
	display: flex;
}


/*..SLIDE-HOME..*/

.home-slide {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc(100vw - 110px);
    height: 100vh;
    background-image: url(images/IMG_7528.PNG);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 80vh;

}

.home-text {
	backdrop-filter: blur(3.1px);
	margin-top: 40vh;
	background-color: rgb(51 48 46 / 30%);
	width: 100%;

}

h1.home-frontend {
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 8vw;
  padding: 5vh 16%;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #70869d;
  letter-spacing: .15em;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.2),
    		-1px -1px 1px #a8a8a8;	
 }

 h1.home-frontend::before {
	content: "Junior";
	display: block;
	position: absolute;
	text-decoration: none;
	font-size: 1vw;
	text-transform: none;
	font-family: 'Lato', sans-serif; 
	letter-spacing: 2px;
	padding-left: .5vw;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.2),
    		-.7px -.7px .7px #a8a8a8;
}

.simbol-anim {
	z-index: -100;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: -50px;
}

.simbol-anim img {
	width: 50px;
	animation: simbol 7s linear infinite;
}

@keyframes simbol  {
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	25%{
		opacity: .4;
	}
	70%{
		opacity: .4;
	}
	100%{
		transform: translateY(-100vh);
		opacity: 0;
	}
}

.simbol-anim img:nth-child(1){
	animation-delay: 0s;
	width: 60px;
}
.simbol-anim img:nth-child(2){
	animation-delay: 3s;
	width: 40px;
}
.simbol-anim img:nth-child(3){
	animation-delay: 2s;
}
.simbol-anim img:nth-child(4){
	animation-delay: 4.5s;
	width: 35px;
}
.simbol-anim img:nth-child(5){
	animation-delay: 3s;
}
.simbol-anim img:nth-child(6){
	animation-delay: 5s;
	width: 45px;
}
.simbol-anim img:nth-child(12){
	animation-delay: 1s;
	width: 50px;
}
.simbol-anim img:nth-child(8){
	animation-delay: 3s;
	width: 40px;
}
.simbol-anim img:nth-child(7){
	animation-delay: 1s;
}
.simbol-anim img:nth-child(9){
	animation-delay: 4.5s;
	width: 35px;
}
.simbol-anim img:nth-child(10){
	animation-delay: 0s;
	width: 35px;
}
.simbol-anim img:nth-child(11){
	animation-delay: 5s;
	width: 45px;
}



/*..SLIDE-ABOUT..*/

.about-wrap {
	display: flex;
	width: 100%;
	height: 100%;
}

.about-title{
	width: 45%;
	padding-left: 5vw;
	padding-top: 4.5vh;
}

.about-subtitle {
	width: 55%;
	margin-top: 98px;
}

.about-logo {
	font-family: 'Catamaran', sans-serif;
	color: var(--color-three);
	font-size: 3rem;
	padding-bottom: 20vh;
}

.about-number {
	font-family: 'Catamaran', sans-serif;
	color: var(--color-three);
	font-size: 1.8rem;
	padding-bottom: 1.5vh;
	width: 40%;
	border-bottom: 2px solid var(--border);
}

.about-list {
	padding-top: 1.8vh;
}

.about-item {
	font-family: 'Catamaran', sans-serif;
	color: var(--border);
	font-size: 1.3rem;
	cursor: pointer;
	height: 25px;
	width: 200px;
}

.about-item:hover {
	color: var(--color-three);
	font-size: 1.4rem;
	transition: font-size .3s;
}

.about-item.active {
	color: var(--color-three);
	font-size: 1.4rem;
}


.about-sub.one {
	display: none;
	padding: 20px;
	opacity: .7;
}

.about-sub.one h3 {
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
	color: var(--color-three);
	padding-bottom: 10vh;
	padding-top: 1vh;
}

.about-sub.one span {
	display: none;
}

.about-sub.one h4 {
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
	color: var(--color-two);
	line-height: 40px;
}

.about-sub.one p {
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
	color: var(--color-three);
	line-height: 30px;
}

.about-sub.two {
	display: none;
	padding: 7vh 20px 20px 20px;
	opacity: .7;

}


.about-sub.two p {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	color: var(--color-three);
	line-height: 25px;
	padding-bottom: 10px;
}

.about-sub.three {
	display: none;
	height: calc(75vh - 98px);
	opacity: .7;
}

.about-cell {
	padding: 0 10%;
}

.about-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
}

.about-cell p {
	font-family: 'Playfair Display', serif;
	font-size: 1.2rem;
    line-height: 20px;
    color: var(--color-three);
}

.about-h {
	font-family: 'Playfair Display', serif;
   	font-size: 1.3rem;
    color: var(--color-two);
    padding-bottom: 10px;
}

.about-sub.opened {
	display: block;
}

/*..SLIDE-ABOUT..*/

.about-footer {
	position: absolute;
	width: 100%;
	height: 12vw;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
	backdrop-filter: blur(47.2917px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-info {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: repeat(5, 1fr);
	gap: 5%;
	flex-basis: calc(100% - 300px);
	padding-left: 6vw;
}

.footer-author{
	grid-column: 1 / 6;
	grid-row: 1 /2;
	font-family: 'Playfair Display', serif;
	color: var(--color-two);
	opacity: .7;
	font-size: 2.3vw;
	margin: 0 0 30px 0;
}

.footer-item span {
	font-family: 'Catamaran', sans-serif;
	display: block;
	font-weight: 500;
	color: #bcbcbc;
	margin-top: 1vw;
	font-size: 1.3vw;
}

.footer-item {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.4vw;
	font-weight: 700;
	color: var(--color-one);
}

.footer-cover {
	border-radius: 10px;
	width: 250px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.footer-img {
	border-radius: 10px;
	opacity: .9;
	width: 200px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

/*--SLIDE-SKILLS--*/

.block {
	border-radius: 0px;
    box-shadow:  5px 5px 10px #1D1919,
                -5px -5px 10px  #333030;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    opacity:0.5;
}

.block:hover {
	box-shadow: inset 5px 5px 11px #1D1919,
            	inset -5px -5px 11px #333030;
    cursor: pointer;
}

.slide-skills {
	padding: 98px 3% 3% 3%;
	width: 100%;
	height: 100%;
}

.skills_row {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
 	grid-row-gap: 4%;
 	grid-column-gap: 2%;
	height: 100%;
}

.skills-one {
	grid-column: 1 / 3;
	background-image: url(images/html.png);
	background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 35%;
    padding: 7vh 2vw 0 0;
    font-size: 5vw;
}

.skills-eight {
	grid-column: 3 / 5;
	background-image: url(images/css-3.png);
	background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 35%;
    padding: 7vh 5vw 0 0;
    font-size: 5vw;
}

.skills-fifteen {
	grid-column: 5 / 7;
	background-image: url(images/js.png);
    background-position: 10% 50%;
    background-size: 35%;
    padding: 7vh 5vw 0 0;
    font-size: 3vw;
    opacity: .4;
}
.skills-two {
	background-image: url(images/bootstrap.png);
}

.skills-three {
	background-image: url(images/github.png);
}

.skills-six {
	background-image: url(images/sass.png);
	opacity: .3;
}

.skills-seven {
	background-image: url(images/photoshop.png);
}

.skills-eleven {
	background-image: url(images/avocode.PNG);
}

.skills-twelve {
	background-image: url(images/sublime.png);
}

.skills-thirty {
	background-image: url(images/theejs.PNG);
}

.skills-fourteen {
	background-image: url(images/atom-symbol.png);
}

.skills-four {
	background-image: url(images/error.png);
}

.skills-five {
	background-image: url(images/error.png);
}

.skills-nine {
	background-image: url(images/error.png);
}

.skills-ten {
	background-image: url(images/error.png);
}

.skills-thirty {
	padding: 40% 10%;
    font-size: 3vw;
}

.skills-tittle {
	color: black;
	text-align: end;
	font-family: 'Catamaran', sans-serif;
}

/*--POPUP-SKILS--*/

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal.active {
	opacity: 1;
	visibility: visible;
}

.popup_body {
	min-height: calc(100vh - 98px);
	display: flex;
	justify-content: center;
}

.popup_content {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #373535;
	color: black;
	width: 25vw;
	height: 80vh;
	padding: 30px;
	margin-top: 98px;
	position: relative;
}

.popup_close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	opacity: .7;
}

.popup_close img {
	height: 20px;
	width: 20px;
}

.popup_title {
	text-align: center;
	opacity:0.6;
	margin-bottom: 4vh;
}

.popup_text {
	border-top: 1px solid #505050;
    padding-top: 4vh;
}

.popup_text h3{
	text-align: center;
	font-size: 1.2rem;
	color: var(--color-two);
	margin-bottom: 2vh;
}

.popup_text p{
	margin-bottom: 8px;
	font-size: 1rem;
    color: #bcbcbc;
    line-height: 1.2;
}

.popup_text p span {
	color: var(--color-two);
	font-size: 1.1rem;
}





/*--SLIDE-PORTFOLIO--*/

.slide-portfolio {
	padding: 98px 3% 3% 3%;
	width: 100%;
	height: 100%;
}

.portfolio_row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
 	grid-row-gap: 4%;
 	grid-column-gap: 2%;
	height: 100%;
}

.portfolio-block{
	border: 1px solid var(--border);
	transition: .5s ease-in-out;
	background-position: center;
	background-size: cover;
	opacity: .5;
}


.portfolio-block.one {
	background-image: url(images/portfolio_slide1.png);
}

.portfolio-block.two {
	background-image: url(images/portfolio_slide2.jpg);
}

.portfolio-block.three {
	background-image: url(images/portfolio_slide3.png);
}

.portfolio-block:hover {
	background-size: 130%;
	transition: background-size 18s;
}

.porfolio-main {
	display: flex;
	flex-direction:column;
	width: 100%;
	height: 100%;
	cursor: pointer;
	justify-content: flex-end;
	text-align: center;
	opacity: .5;
}

.porfolio-main:hover,
.porfolio-main:active{
	opacity: 1;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.portfolio-namber {
	font-size: 3rem;
	color: var(--color-two);
	line-height: 40px;
	padding-bottom: 20%;

}

.porfolio-tittle {
	padding-top: 10px;
	font-size: 1.4rem;
	color: var(--color-three);
	line-height: 30px;
	background: var(--background-subtitle);
}

.porfolio-subtittle {
	font-size: 1.4rem;
	color: var(--color-three);
	background: var(--background-subtitle);
	padding-bottom: 10px;
}

/*--MEDIA--*/


@media screen and (max-width: 768px){
	.content-sidebar {
		display: none;
	}
	.content {
		display: grid;
	}

	.content-main {
		grid-column: 1 /3;
		grid-template-rows: 1 / 3
	}

	.swiper {
		width: 100vw;
		height: 100vh;
	}

	.home-slide {
		width: 100vw;
		height: 100vh;
	}

/*--NAVBAR--*/

	.header {
		align-items: start;
		height: 80px;
	}

	.navbar {
		display: block;
		width: 80px;
    	height: 80px;
	}

	.nav-container {
		height: 100%;
	}

	.nav-container .hamburger-lines {
		top: 25px;
    	left: 25px;
	}

	.nav-container .hamburger-lines .line2 {
    height: 1.6px;
    }

    .navbar .menu-items {
    	padding-top: 15vh;
    	width: 70vw;
    	backdrop-filter: blur(10.1px);
    }

	.header-logo {
		display: none;
	}

	.header-list {
		display: none;
	}


/*--SLIDE HOME--*/

	h1.home-frontend::before {
		display: none;
	}

	h1.home-frontend {
    padding: 5vh 0;
    font-size: 3.4rem;
    text-align: center;
	}

	.home-text {
    margin-top: 20vh;
	}





/*--SLIDE ABOUT--*/


	.about-footer {
		display: none;
	}

	.about-sub_one span {
		display: block;
	}

	.about-wrap {
    flex-wrap: wrap;
    padding: 0 15px;
    flex-direction: column;
	}

	.about-title {
		width: 100%;
		display: flex;
    	justify-content: end;
    	height: 23%;
	}

	.about-subtitle {
		width: 100%;
		margin-top: 0px;
	}

	.about-logo {
		display: none;
	}

	.title-wrap {
		width: 50%;

	}

	.about-grid {
		align-items: start;
		padding-top: 5vh;
	}

	.about-cell {
    padding: 0 10%;
	}

	.about-sub.one h3 {
		font-size: 3.4rem;
		padding-top: 5vh;
	}

	.about-sub.one p {
		1.2rem;
	}

	.about-sub.one h4 {
		font-size: 1.8rem;
	}

	.about-sub.two {
		padding: 10px 0 0 0;
	}

	.about-sub.two p {
		font-size: 4vw;
	}

/*--SLIDE SKILLS--*/

	.skills_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 18%);
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    height: 100vh;
	}

	.skills-one {
    grid-column: 1 / 2;
    background-position: 50% 50%;
    background-size: 80%;
	}

	.skills-eight {
    grid-column: 4 / 5;
    background-position: 50% 50%;
    background-size: 80%;
	}

	.skills-fifteen {
    grid-column: 3 / 4;
    background-position: 50% 50%;
    background-size: 80%;
	}

	.skills-tittle {
		display: none;
	}

	.popup_content {
	width: 80vw;
	margin-top: 90px;
	height: fit-content;
	}

	/*--PORTFOLIO--*/

	.slide-portfolio {
    padding: 85px 3% 3% 3%;
	}

	.portfolio_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2%;
	}

}

@media screen and (max-width: 992px){

	.skills_row {
	grid-template-rows: repeat(4, 1fr%);
	}
}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1396px){

}